<!-- <nav>
    <h1> 
        <a href = '/'> Movie reviews </a>
    </h1>
    <div>
        <a href = "/"> Home </a>
        <a href = "/about"> About </a>
        <a href = "/contact"> Contact </a>
        <a herf = "/blogs/create"> Blog create </a>
    </div>
</nav> -->

<nav>
    <h1>
      <a href="/"> Movie review </a>
    </h1>
    <div>
      <a href="/"> Main </a>
      <a href="/about"> About us </a>
      <a href="/contact"> Contact </a>
      <a href="/blogs/create"> Create </a>
    </div>
  </nav>