<div class = 'container'>
        <h1> Server not found! </h1>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore neque culpa dolorum. Enim cum saepe molestias odit autem qui ullam, sint eligendi impedit a culpa, aliquid labore porro, animi expedita? </p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore neque culpa dolorum. Enim cum saepe molestias odit autem qui ullam, sint eligendi impedit a culpa, aliquid labore porro, animi expedita? </p>
</div>